doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
        
            h1= nombrePagina
            p Agregue su eMail para reestablecer su contraseña

            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error
                                
            form.caja-login(method="POST", action="/reestablecer")
                .campo
                    label(for="email") eMail: 
                    input(type="text" name="email" placeholder="Tu eMail")
                .campo.enviar
                    input.boton(type="submit" value="Reestablecer Contraseña")
                .campo.acciones
                    a(href="/iniciar-sesion") Volver a Iniciar Sesión